<div id="container">
    <div>
        <h1>Login to Account</h1>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <input type="email" placeholder="Email" autocomplete="off" formControlName="email">
            <p id="emailError">{{ getEmailError() }}</p>

            <input type="password" placeholder="Password" autocomplete="off" formControlName="password">
            <p id="passwordError">{{ getPasswordError() }}</p>

            <button type="submit" [disabled]="loginForm.invalid">Login</button>
        </form>

        <a routerLink="../register">Register</a>
    </div>
</div>