div {
    margin-right: 2em;
    font-size: 1em;
}

input {
    background-color: #5875ff;
    padding: 8px 16px;
    border: 2px solid #4666ff;
    border-radius: 4px;
    width: 200px;
    color: white;
}

input::placeholder {
    color: #ddd;
}

input:focus {
    border-color: #ffdf46;
}

a {
    margin-left: 1.5em;
    font-weight: bold;
}

@media only screen and (max-width: 550px) {
	input {
		position: absolute;
		left: 50%;
		transform: translate(-50%, 0);
		top: 48px;
		width: calc(100% - 64px);
	}

	div {
		margin: 0px;
	}

	a {
		margin-right: 16px;
	}
}