<div id="container">
	<img id="loading" *ngIf="loading" src="assets/LoadingIcon.png">
	<app-error [hidden]="hide.error"></app-error>
    <div id="profile" [hidden]="hide.movie">
		<div id="image">
			<img src={{details.poster}} alt={{details.title}}>
		</div>
		<div id="info">
			<h1 [innerHTML]="details.title"></h1>
			<div id="ratings">
				<img src="assets/Star.png">
				<strong [innerHTML]="details.rating"></strong>
			</div>
			<div id="description">
				<h2>Description</h2>
				<p [innerHTML]="details.description"></p>
			</div>
			<div id="details">
				<h2>Details</h2>
				<ul>
					<li [innerHTML]="details.genres"></li>
					<li [innerHTML]="details.release_date"></li>
					<li [innerHTML]="details.runtime"></li>
					<li [innerHTML]="details.certification"></li>
					<li [innerHTML]="details.languages"></li>
				</ul>
			</div>
			<div id="servicesOn">
				<strong id="error" [hidden]="hide.subError">Failed to load subscriptions.</strong>
				<div [hidden]="hide.subscriptions">
					<div class="is{{subscriptions.netflix}}">
						<img src="assets/Netflix.png" alt="Netflix">
					</div>
					<div class="is{{subscriptions.sky}}">
						<img src="assets/Sky.png" alt="Sky">
					</div>
					<div class="is{{subscriptions.now}}">
						<img src="assets/Now.png" alt="Now">
					</div>
					<div class="is{{subscriptions.amazon}}">
						<img src="assets/Amazon.png" alt="Amazon">
					</div>
					<div class="is{{subscriptions.disney}}">
						<img src="assets/Disney.png" alt="Disney">
					</div>
				</div>
			</div>
		</div>
    </div>
</div>