#container {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: grid;
    flex-wrap: wrap;
	grid-template-columns: 68px 68px 68px 68px 68px;
	grid-template-rows: auto auto auto;
	gap: 1em;
}

input {
    display: none;
}

label {
    display: inline-block;
    width: 64px;
    height: 64px;
    background-size: cover;
    border: 2px solid;
    border-radius: 8px;
    cursor: pointer;
}

label[for="netflix"] {
    background-image: url("../../../assets/Netflix.png");
}

label[for="sky"] {
    background-image: url("../../../assets/Sky.png");
}

label[for="now"] {
    background-image: url("../../../assets/Now.png");
}

label[for="amazon"] {
    background-image: url("../../../assets/Amazon.png");
}

label[for="disney"] {
    background-image: url("../../../assets/Disney.png");
}

label div {
    width: 100%;
    height: 100%;
}

input + label {
    border-color: #ff4666;
}

input + label div {
    background-color: rgba(255, 70, 102, 0.2);
}

input:checked + label {
    border-color: #66ff46;
}

input:checked + label div {
    background-color: rgba(102, 255, 70, 0.2);
}

button[type="submit"] {
	grid-column: 4 / span 2;
	width: max-content;
	justify-self: right;
}

strong {
	color: #ff4666;
	grid-column: 1 / span 5;
	text-align: center;
}

button {
    display: block;
    margin-top: 1em;
    padding: 8px 16px;
    color: white;
    font-size: 1em;
    background-color: #4666ff;
    border: none;
    border-radius: 4px;
    transition: all 0.2s;
    cursor: pointer;
}

button:hover {
    background-color: #ffdf46;
}

@media only screen and (max-width: 480px) {
	form {
		gap: 6px;
	}
}