nav {
    background-color: #4666ff;
    display: flex;
    align-items: center;
    color: white;
    box-shadow: 0px -8px 16px 0px #4666ff;
}

nav h1 {
    margin: 16px;
    margin-left: 1em;
}

nav app-navinputs {
    margin-left: auto;
}

@media only screen and (max-width: 550px) {
	nav {
		padding-bottom: 48px;
	}

	nav h1 {
		margin: 8px;
		margin-left: 16px;
	}
}